body{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/002/072/163/small_2x/doctor-injecting-coronavirus-vaccine-to-a-patient-concept-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: 650px 650px;
    background-position: center;
    background-attachment: fixed;
    filter: saturate(1.0);
    z-index: -4;
    backdrop-filter: blur(4px);
}
.wel{
    height: 60px;
    align-content: center;
    color: white;
    background-color: rgb(0, 180, 216);
    border-radius: 10px;
    margin: 0px;
    padding-left: 30px;
}
.login_panel{
    height: auto;
    width: 60%;
    margin: 10px 20% 40px 20%;
    border: 2px double rgb(0, 180, 216);
    border-radius: 10px;

}
.form_style{
    margin: 10px 10px 10px 125px;
}
.input_form{
    width: 80%;
    margin: 5px 0 10px 0;
    padding: 0 0 0 10px;
    height: 40px;
    font-size: large;
}
.Centre_button{
    margin: 0% 0% 5% 35% ;
    border: 1px solid rgb(3, 4, 94);
    border-radius: 5px;
    padding: 2%;
    width: auto;
    font-size: 20px;
    font-weight: bold;
    color: rgb(3, 4, 94);
    background-color: rgb(202,240,248);
}
.nav{
    height: 40px;
    width: 100%;
    background-color: rgba(202,240,248,0.5);
    border: 1px solid rgb(202, 240, 248);
    align-content: center;
}
.nav_a{
    color: rgb(0,0,150);
    font-size: large;
    margin-right: 30px;
    text-decoration: none;
}
.table_user_dashboard{
    align-content: center;
    margin: 30px;
    font-size: x-large;
    
}
table {
  width: 100%;
  table-layout: fixed;
}

td {
  text-align: center;
  padding: 10px;
}
a{
    text-decoration: none;
}
.cards{
    height: auto;
    width: 20%;
    margin: 10px 5% 10px 5%;
    border: 2px double rgb(123,44,191);
    border-radius: 10px;
    display: inline-block;
}
.block_letter{
    text-align: center;
    margin: 5px;
    border: 1px solid black;
    height: 25px;
    width: 25px;
    display: inline-block;
}
.pop_up_message{
    color: maroon;
    font-size: larger;
    text-align: center;
    margin: 10px;
}

.color_button{
    text-decoration: none;
    color:black;
    background-color: rgb(191, 237, 247);
    border-radius: 10%;
    border: 2px double black;
    padding: 2% 3% 2% 3%;
    font-weight: bold;
    font-size: 18px;
    display: inline-block;
}