{%extends "admin_layout.html"%}
{%block content%}
    <div class="login_panel" style="border-color: rgb(76, 175, 80);">
        <h1 style="text-align: center; font-weight: bold; border: 2px solid rgb(76, 175, 80); background-color: rgb(60,9,108); color: white; border-radius: 3px; padding: 5px; ">Patient History</h1>
        <br>
        {%if history_list%}
        <pre style="margin: 5%; font-size: x-large;">
Patients Name: {{history_list[0].user_info.full_name}}
Doctor Name: {{history_list[0].doctor_info.full_name}}
Department: {{history_list[0].doctor_info.department.specialization}}

        </pre>
        <div class="login_panel" style="width: 90%; margin-left: 5%; border: 2px solid rgb(76, 175, 80)">
            <table class="table_user_dashboard" style="margin: 5px;">
                <thead style="margin: 10px;">
                    <th>Visit ID</th>
                    <th>Visit Type</th>
                    <th>Test Done</th>
                    <th>Diagnosis</th>
                    <th>Prescription</th>
                    <th>Medicines</th>
                </thead>
                <tbody>
                    {%for h in history_list%}
                    <tr>
                        <td>{{h.id}}</td>
                        {%if h.status!="Appointment is cancelled!"}
                        <td>{{h.visit_type}} correct your typo</td>
                        <td>{{h.test_done}}</td>
                        <td>{{h.diagnosis}}</td>
                        <td>{{h.prescription}}</td>
                        <td>{{h.medicines}}</td>
                        {%else%}
                        <td>An</td>
                        <td>Appointment</td>
                        <td>was</td>
                        <td>cancelled</td>
                        <td>!</td>
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <br>
        <div>
            <button style="font-size: large; padding: 20px; margin: 3% 20% 10% 20%;"><a href="{{url_for('admin_dashboard',name=usern)}}">Back</a>
        </div>
        {%else%}
        <h3>----No Records are found----</h3>
        {%endif%}
    </div>
{%endblock%}