{%extends "admin_layout.html"%}
{%block content%}
    <h2 style="text-align: center; font-weight: bold; border: 2px solid rgb(123,44,191);padding: 3px; color: rgb(90,24,154); border-radius: 5px; ">All Available Department</h2>
    <div class="login_panel" style="width: 40%; margin-left: 10%; border: 2px solid rgb(123,44,191)">
        {%if department_list%}
        <table class="table_user_dashboard">
            <thead style="margin: 10px;">
                <th>ID</th>
                <th>Specialization Name</th>
            </thead>
            <tbody>
                {%for dept in department_list%}
                <tr>
                    <td>{{dept.id}}</td>
                    <td>{{dept.specialization}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%else%}
        <h3>---Not Available---</h3>
        {%endif%}
        <a href="{{ url_for('add_department') }}" class="Centre_button" type="button" style="background-color: rgb(90,24,154); color: white;">+Add Department</a>
        <a href="{{ url_for('admin_dashboard',name=usern) }}" class="Centre_button" type="button" style="background-color: rgb(90,24,154); color: white;">Back</a>
        <div class="pop_up_message">{{pop_up}}</div>
    </div>
{%endblock%}