<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Add Department</title>
</head>
<body  style="background-image: url('/static/image/4950247_19834.svg');">

    <div class="login_panel" style="border-color: rgb(123, 44, 191);">
        <h1 style="text-align: center; font-weight: bold; border: 2px solid rgb(123,44,191); background-color: rgb(60,9,108); color: white; border-radius: 3px; padding: 5px; ">Add Department</h1>
        <br>
        <form action="/add_department" method="POST" class="form_style">
            <table>
                <tr>
                    <td><label for="id"  style=" margin-bottom: 1%; font-size:x-large;">Department Id:</label></td>
                    <td><input type="text" id="id" name="id" class="input_form" placeholder="Enter Department/Specialization Id"></td>
                </tr>
                
                <tr>
                    <td><label for="specialization"  style=" margin-bottom: 1%; font-size:x-large;">Specialization name:</label></td>
                    <td><input type="text" id="specialization" name="specialization" class="input_form" placeholder="Enter specialization"></td>
                </tr>
                
                <tr>
                    <td><label for="description"  style=" margin-bottom: 1%; font-size:x-large;">Description:</label></td>
                    <td><textarea type="text" id="description" name="description" class="input_form"></textarea></td>
                    
                </tr>
                
            </table>
            <br>
            <div>
                <a href="{{url_for('admin_department')}}" class="Centre_button" type="button">Cancel</a>
                <button type="submit" style="font-size: large; padding: 20px; margin: 3% 0% 10% 0%; background-color: rgb(123, 44, 191);">Add</button>
            </div>
        </form>
        <div class="pop_up_message">{{pop_up}}</div>
    </div>   
</body>
</html>

    
    
