<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Details Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div>
        <h1 class="admin_wel"><i><b style="margin-left: 30px;">Welcome! Admin</b></i></h1>
    </div>
    <div class="nav" style="background-color: rgba(224, 170, 225, 0.3); border-color: rgba(199,125,225);">
        <a class="nav_a" href="admin_dashboard.html" style="margin-left: 3%;">Home</a>
        <a class="nav_a" href="admin_user_details.html">Users</a>
        <a class="nav_a" href="admin_search.html" >Search</a>
        <a class="nav_a" href="admin_summary.html">Summary</a>
        <a class="nav_a" href="login.html">Logout</a>
        <a class="nav_a" style="position: absolute; right: 10px;">Edit profile</a>
    
    </div>
    <h2 style="text-align: center; font-weight: bold; border: 2px solid rgb(123,44,191);padding: 3px; color: rgb(90,24,154); border-radius: 5px; ">Registered Users</h2>
    <div class="login_panel" style="margin-bottom: 50px; width: 60%; border-color: rgb(123,44,191);">
        <table class="table_user_dashboard">
            <thead style="margin: 10px;">
                <th>ID</th>
                <th>E-Mail</th>
                <th>Full name</th>
                <th>Address</th>
                <th>Pin Code </th>
            </thead>
            <tbody>
                <tr>
                    <td>120</td>
                    <td>xxx@gmail.com</td>
                    <td>xxx</td>
                    <td>12afo</td>
                    <td>444485</td>
                </tr>
                <tr>
                    <td>121</td>
                    <td>yyy@gmail.com</td>
                    <td>yyy</td>
                    <td>13afuhgf</td>
                    <td>458439</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>