<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Parking Lot Page</title>
    <link rel="stylesheet" href="/pro/static/style.css">
</head>
<body>
    <div class="login_panel" style="border-color: rgb(123, 44, 191);">
        <h1 style="text-align: center; font-weight: bold; border: 2px solid rgb(123,44,191); background-color: rgb(60,9,108); color: white; border-radius: 3px; padding: 5px; ">Edit Parking Lot</h1>
        <br>
        <form action="#" class="form_style">
            <table>
                <tr>
                    <td><label for="prime_location_name"  style=" margin-bottom: 1%; font-size:x-large;">Prime Location Name:</label></td>
                    <td><input type="text" id="prime_location_name" name="prime_location_name" class="input_form" placeholder="Prime location"></td>
                </tr>
                <tr>
                    <td><label for="address"  style=" margin-bottom: 1%; font-size:x-large;">Address:</label></td>
                    <td><input type="text" id="address" name="address" class="input_form" placeholder="Address"></td>
                </tr>
                <tr>
                    <td><label for="pin_code"  style=" margin-bottom: 1%; font-size:x-large;">Pin code:</label></td>
                    <td><input type="number" id="pin_code" name="pin_code" class="input_form" placeholder="pincode "></td>
                </tr>
                <tr>
                    <td><label for="price"  style=" margin-bottom: 1%; font-size:x-large;">Price(per hour):</label></td>
                    <td><input type="number" id="price" name="price" class="input_form" placeholder="price"></td>
                </tr>
                <tr>
                    <td><label for="maximum_spots"  style=" margin-bottom: 1%; font-size:x-large;">Maximum spots:</label></td>
                    <td><input type="number" class="input_form" placeholder="Maximumspot "></td>
                </tr>
            </table>
            <br>
            <div>
                <button style="font-size: large; padding: 20px; margin: 3% 20% 10% 20%;"><a href="admin_dashboard.html" >Cancel</a></button>
                <button style="font-size: large; padding: 20px; margin: 3% 0% 10% 0%;">Update</button>
            </div>
        </form>
    </div>
</body>
</html>