{%extends "doctor_layout.html"%}
{%block content%}
    <div class="login_panel" style="border-color: rgb(76, 175, 80);">
        <h1 style="text-align: center; font-weight: bold; background-color: rgb(76, 175, 80); color: white; border-radius: 3px; padding: 5px; ">Update Patient History</h1>
        {%if appointment%}
        <pre style="margin: 5%; font-size: x-large;">
Patients Name: {{appointment.user_info.full_name}}
Department: {{appointment.doctor_info.department.specialization}}
        </pre>
        <form action="{{url_for('apppointment_update',appoin_id=appointment.id)}}" method="POST" class="form_style">
            <table>
                <tr>
                    <td><label for="test_done"  style=" margin-bottom: 1%; font-size:x-large;">Test Done:</label></td>
                    <td><input type="text" id="test_done" name="test_done" class="input_form" value="{{ appointment.test_done or '' }}"></td>
                </tr>
                <tr>
                    <td><label for="diagnosis"  style=" margin-bottom: 1%; font-size:x-large;">Diagnosis:</label></td>
                    <td><input type="text" id="diagnosis" name="diagnosis" class="input_form" value="{{ appointment.diagnosis or '' }}"></td>
                </tr>

                <tr>
                    <td><label for="prescription"  style=" margin-bottom: 1%; font-size:x-large;">Prescription:</label></td>
                    <td><input type="text" id="prescription" name="prescription" class="input_form" value="{{ appointment.prescription or '' }}"></td>
                </tr>
                <tr>
                    <td><label for="medicines"  style=" margin-bottom: 1%; font-size:x-large;">Medicines:</label></td>
                    <td><textarea id="medicines" name="medicines" class="input_form" placeholder="Enter All Medicines">{{ appointment.medicines or '' }}</textarea></td>
                </tr>
            </table>
            <br>
            <div>
                <button type="submit" class="Centre_button">Update</button>
            </div>
        </form>
        {%else%}
        <h3>This appointment doesn't exist</h3>
        {%endif%}
    </div>
{%endblock%}