{%extends "doctor_layout.html"%}
{%block content%}
    <div class="login_panel" style="border-color: rgb(76, 175, 80);">
        <h1 style="text-align: center; font-weight: bold; background-color: rgb(76, 175, 80); color: white; border-radius: 3px; padding: 5px; ">Update Patient History</h1>
        <pre style="margin: 5%; font-size: x-large;">
Patients Name: #
Doctor's Name: #
Department: #
        </pre>
        <form action="#" method="POST" class="form_style">
            <table>
                <tr>
                    <td><label for="visit_type"  style=" margin-bottom: 1%; font-size:x-large;">Visit Type:</label></td>
                    <td><input type="text" id="visit_type" name="visit_type" class="input_form" placeholder="Enter visit type"></td>
                </tr>
                <tr>
                    <td><label for="test_done"  style=" margin-bottom: 1%; font-size:x-large;">Test Done:</label></td>
                    <td><input type="text" id="test_done" name="test_done" class="input_form" placeholder="Enter test "></td>
                </tr>
                <tr>
                    <td><label for="diagnosis"  style=" margin-bottom: 1%; font-size:x-large;">Diagnosis:</label></td>
                    <td><input type="text" id="diagnosis" name="diagnosis" class="input_form" placeholder="Enter Diagnosis"></td>
                </tr>

                <tr>
                    <td><label for="prescription"  style=" margin-bottom: 1%; font-size:x-large;">prescription:</label></td>
                    <td><input type="text" id="prescription" name="prescription" class="input_form" placeholder="Enter Prescription"></td>
                </tr>
                <tr>
                    <td><label for="medicines"  style=" margin-bottom: 1%; font-size:x-large;">Medicines:</label></td>
                    <!-- <td><input type="text" id="medicines" name="medicines" class="input_form" placeholder="Enter All Medicines"></td> -->
                    <td><textarea type="text" id="medicines" name="medicines" class="input_form" placeholder="Enter All Medicines"></textarea></td>
                </tr>
            </table>
            <br>
            <div>
                <button type="submit" style="font-size: large; padding: 20px; margin: 3% 0% 10% 0%;">Add</button>
            </div>
        </form>
    </div>
{%endblock%}