{%extends "doctor_layout.html"%}
{%block content%}
    <h1 style="text-align: center; font-weight: bold; padding: 3px; color: rgb(0, 150, 136);">Doctor Dashboard</h1>
    {%if dcr.is_blacklist!=0%}
    <h1 style="font-weight: bolder; color:red; margin: 15% 30% 30% 30%;">You Are Blocked From Our Website. Please! Contact Hospital Administrative</h1>
    {%else%}
    <h2 style="text-align: center; font-weight: bold; border: 2px solid rgb(76, 175, 80);padding: 3px; color: rgb(0, 150, 136); border-radius: 5px; ">Upcoming Appointments</h2>
    {%if appointments_list%}
    <div class="login_panel" style="width: 80%; margin-left: 10%; border: 2px solid rgb(76, 175, 80)">
        <table class="table_user_dashboard">
            <thead style="margin: 10px;">
                <th>ID</th>
                <th>Patient Name</th>
                <th>Date</th>
                <th>Patient History</th>
                <th>Action</th>
            </thead>
            <tbody>
                {%for ap in appointments_list%}
                <tr>
                    <td>{{ap.user_id}}</td>
                    <td>{{ap.user_info.full_name}}</td>
                    <td>{{ap.date.strftime('%d/%m/%Y')}}</td>
                    <td><a href="{{url_for('ap_update',appoin_id=ap.id)}}">Update</a></td>
                    {%if ap.status=="Incomplete"%}
                    <td><a href="/doc_appoin_status/{{ap.id}}/{{doct_id}}/{{'Mark as complete'}}" type="button">Mark as complete</a>  |  <a href="/doc_appoin_status/{{doct_id}}/{{'Appointment is cancelled!'}}">Cancel</a></td>
                    {%else%}
                    <td>{{ap.status}}</td>
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%else%}
        <h3>---No Upcoming Appointments are available---</h3>
        {%endif%}
    </div>
    <hr style="border: 1px solid black; width: 100%; margin: 0px;">
    <h2 style="text-align: center; font-weight: bold; border: 2px solid rgb(76, 175, 80);padding: 3px; color: rgb(0, 150, 136); border-radius: 5px; ">Assigned Patients</h2>
    {%if appointments_list%} 
    <div class="login_panel" style="width: 80%; margin-left: 10%; border: 2px solid rgb(76, 175, 80)">
        <table class="table_user_dashboard">
            <thead style="margin: 10px;">
                <th>ID</th>
                <th>Patient Name</th>
                <th>Action</th>
            </thead>
            <tbody>
                {%for ap in appointments_list%}
                <tr>
                    <td>{{ap.user_id}}</td>
                    <td>{{ap.user_info.full_name}}</td>
                    <td><a href="/doc_user_hist/{{ap.user_id}}/{{doct_id}}" type="button">View</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%else%}
        <h3>---No Upcoming Appointments are available---</h3>
        {%endif%}
    </div>
    <span style="font-size: x-large; background-color: lightgreen; color: white; right: 5%; bottom: 10%;">
        <a href="/doct_availability/{{doct_id}}" type="button">Provide Availability</a>
    </span>
    {%endif%}
{%endblock%}