{%extends "doctor_layout.html"%}
{%block content%}
    <div class="login_panel" style="border-color: rgb(76, 175, 80);">
        <h1 style="text-align: center; font-weight: bold; background-color: rgb(76, 175, 80); color: white; border-radius: 3px; padding: 5px; ">Upcoming 7-day Availability</h1>
        <form action="#" method="POST" class="form_style">
            <table class="table_user_dashboard">
                <thead style="margin: 10px;">
                    <th>Date</th>
                    <th>Morning</th>
                    <th>Evening</th>
                </thead>
                <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td><a href="/doct_update_patient_hist">Update</a></td>
                    </tr>
                </tbody>
            </table>
            <br>
            <div>
                <button type="submit" style="font-size: large; padding: 20px; margin: 3% 0% 10% 0%;">Save</button>
            </div>
        </form>
    </div>
{%endblock%}