<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/style.css">
    <title>Hospital App</title>
</head>
<body>
    <div>
        <h1 class="wel"><i><b>Hello!</b></i></h1>
    </div>
    <div class="login_panel" style="height: 600px;">
        <h1 style="text-align: center; color: blue;">Ankit Hospital</h1>
        <p>
            <pre style="text-align: center; margin: 10% 0% 20% 0%; font-size: x-large; font-style: italic; color: rgb(246, 93, 37); font-weight: bold;">
Your Health, Our Priority

Quality Care. Anytime, Anywhere

Trusted Healthcare in Your Hands

Healthcare, Simplified

Bringing Doctors Closer to You
            </pre>
        </p>
        <button class="Centre_button" type="button" ><a href="{{ url_for('login') }}">Just a Tap Away -></a></button>
    </div>
</body>
</html>