<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-image: url('/static/image/4950247_19834.svg');">
    <header>
        <div>
            <h1 class="wel"><i><b>Welcome! {{usern}}</b></i></h1>
        </div>
        <nav class="nav">
            <a class="nav_a" href="{{url_for('user_dashboard',name=usern)}}" style="margin-left: 3%;">Home</a>
            <a class="nav_a" href="#">Edit Profile</a>
            <a class="nav_a" href="#">My History</a>
            <a class="nav_a" href="/login">Logout</a>
            <span class="nav_a" style="position: absolute; right: 10px;">
                <form action="#" method="POST">
                    <input type="text" id="search" name="search" placeholder="Search here!.....">
                    <button type="button">Search</button>
                </form>
            </span>
        
        </nav>
    </header>
    {%block content%}

    {%endblock%}

</body>
</html>