<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body style="background-image: url('/static/image/4950247_19834.svg');">
    <header>
        <div>
            <h1 class="wel"><i><b>Welcome! {{usern}}</b></i></h1>
        </div>
        <nav class="nav">
            <a class="nav_a" href="{{url_for('user_dashboard',u_id=u_id)}}" style="margin-left: 3%;">Home</a>
            <a class="nav_a" href="/edit_user_profile/{{u_id}}">Edit Profile</a>
            <a class="nav_a" href="/user_hist/{{u_id}}">My History</a>
            <a class="nav_a" href="/login">Logout</a>
        
        </nav>
    </header>
    {%block content%}

    {%endblock%}

</body>
</html>