{%extends "user_layout.html"%}
{%block content%}
    {%if usr.is_blacklist!=0%}
    <h1 style="font-weight: bolder; color:red; margin: 15% 30% 30% 30%;">You Are Blocked From Our Website. Please! Contact Hospital Administrative</h1>
    {%else%}
            <span class="nav_a" style="position: absolute; right: 10px;">
                <form action="/user_dashboard_search_bar/{{u_id}}" method="POST">
                    <input type="text" id="search_by_name" name="search_by_name" placeholder="Search here!.....">
                    <button type="submit">Search</button>
                </form>
            </span>
    <h1 style="text-align: center; font-weight: bold; padding: 3px; color: rgb(23, 26, 209);">User Dashboard</h1>
    <h2 style="text-align: center; font-weight: bold; border: 2px solid rgb(0, 180, 216);padding: 3px; color: rgb(0,119,182); border-radius: 5px; ">Departments</h2>
    {%if department_list%}
    <div class="login_panel" style="width: 80%; margin-left: 10%;">
        <table class="table_user_dashboard">
            <thead style="margin: 10px;">
                <th>ID</th>
                <th>Department</th>
                <th>Action</th>
            </thead>
            <tbody>
                {%for dept in department_list%}
                <tr>
                    <td>{{dept.id}}</td>
                    <td>{{dept.specialization}}</td>
                    <td><a href="{{url_for('department_details',u_id=u_id,d_id=dept.id)}}" type="button">View Details</a></td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%else%}
        <h3>---Not Available---</h3>
        {%endif%}
    </div>
    <br>
    <div class="pop_up_message">{{pop_up}}</div>
    <hr style="border: 1px solid rgb(123,44,191); width: 100%; margin: 0px;">
    <br>
    <h2 style="text-align: center; font-weight: bold; border: 2px solid rgb(0, 180, 216); color: rgb(0,119,182); border-radius: 3px; padding: 5px; ">Upcoming Appointments</h2>
    {%if appointments%}
    <div class="login_panel" style="margin-bottom: 50px;">
        <table class="table_user_dashboard">
            <thead style="margin: 10px;">
                <th>ID</th>
                <th>Doctor Name</th>
                <th>Department</th>
                <th>Date</th>
                <th>Time</th>
                <th>Status</th>
                <th>Action </th>
            </thead>
            <tbody>
                {%for ap in appointments%}
                <tr>
                    <td>{{ap.user_id}}</td>
                    <td>{{ap.doctor_info.full_name}}</td>
                    <td>{{ap.doctor_info.department.specialization}}</td>
                    <td>{{ap.date}}</td>
                    <td>{{ap.time_slot}}</td>
                    <td>{{ap.status}}</td>
                    {%if ap.status=="Incomplete"%}
                    <td><a href="/user_appoin_cancel/{{ap.id}}/{{ap.user_id}}" type="button">Cancel</a></td>
                    {%else%}
                    <td><h3 style="display: inline-block; font-weight: lighter;">X</h3></td>
                    {%endif%}
                </tr>
                {%endfor%}
            </tbody>
        </table>
        {%else%}
        <h3>---No Upcoming Appointments are available---</h3>
        {%endif%}
    </div>
    {%endif%}
{%endblock%}